body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:522px;
    height:500px;
    border: 1px solid grey;
    justify-content: center;
    
}
.box {
    width: 50px;
    height: 50px;
    outline: none;
    text-align: center;
    
}
.check-button {
    height: 40px;
    margin-top: 10px;
    width: 200px;
}
.button-container {
    display: flex;
    flex-direction: row;
    width: 522px;
    justify-content: space-around;
}
