.login {

    width: 100%;
    border: 15px solid #0664AA;

    border-radius: 35px;

    margin: 90px auto 30px auto;
    width: 450px;
    background-color: fff;
    margin-bottom: 5px;
    width: 450PX;
    text-align: center;



}
